body {
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    /* height: 50px; */
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

nav a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    font-size: 18px;
    padding: 100px 0;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 12px 0;
}

.hero-text p {
    color: #E5E7EB;
    margin: 12px 0;
    padding-right: 24px;
}

button {
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 30px;
    border: none;
    border-radius: 8px;
}

.hero-image {
    flex: 1;
    background-color: #A5A7AB;
    display: flex;
    justify-content: center;
    align-items: center;
} 