body {
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.bigger {
    font-size: 24px;
    font-weight: bold;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

nav a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    padding: 100px 0;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 12px 0;
}

.hero-text p {
    color: #E5E7EB;
    margin: 12px 0;
    padding-right: 24px;
}

button {
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 30px;
    border: none;
    border-radius: 8px;
}

.hero-image {
    flex: 1;
    background-color: #A5A7AB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    text-align: center;
    padding: 40px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.info-cardbox {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.info-card {
    max-width: 170px;
}

.info-img {
    width: 170px;
    height: 170px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 80px 0;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding-left: 110px;
    padding-right: 30px;
    margin: 0;
}

.quote-author {
    text-align: right;
    padding-right: 60px;
    margin: 0;
}

.cta-box {
    background-color: #3882F6;
    margin: 80px 0;
    border-radius: 8px;
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text {
    color: #F9FAF8;
}

.cta-text p {
    margin: 0;
}

.cta-box button {
    border: 2px solid #F9FAF8;
}


